<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key><string>PSGroupCell</string>
			<key>label</key><string>How to use</string>
			<key>footerText</key><string>1. Turn on Enable Fake Percentage. 2. Drag the slider to the number you want. 3. Pick a text colour. Changes apply instantly, no respring needed.</string>
		</dict>
		<dict>
			<key>cell</key><string>PSGroupCell</string>
			<key>label</key><string>Contact</string>
			<key>footerText</key><string>Report issues on the repo/depiction page.</string>
		</dict>
	</array>
	<key>title</key><string>Help</string>
</dict>
</plist>
